@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import '../../styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, $white-color, rgba(0, 0, 0, 0.1), $white-color);
  border-image-slice: 1;
  margin-bottom: 5px;
}

.card_link {
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.card_link:hover {
  background-color: #f0f0f0; 
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards_item {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cards_item:hover {
  transform: translateY(-5px);
}

.card_image {
  width: 100%;
  padding-top: 60%;
  position: relative;
}

.card_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.7);
  transition: transform 0.2s ease-in-out;
}

.cards_item:hover .card_image img {
  transform: scale(0.75);
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom right, #0078bd, #00bfff);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.card_text {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;
}

//* This is the implementation of the section above the courses which will contain the search bar and filter combobox
//* The section name and line styling
.section-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #0078bd;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #0078bd;
}

//* The filter wrapper styling

.filters-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filters-wrapper .mat-form-field {
  flex: 1;

}

.banner {
  display: flex;
  background-color: #0078bd; 
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem; 
  color: #ffffff; 
  font-size: 1rem; 
  font-weight: 700; 
  border-radius: -1 0 1rem 1rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
}
