.flex-container {
  display: flex;
  height: 100vh; // Ensure the container takes the full height of the viewport
}

.main-content {
  flex: 1;
}

.notifications-container {
  flex: 1;
  background-color: lightcoral;
}

.router {
  margin-top: 60px;
}

.spacing {
  margin-top: 60px;
}
