@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css');


.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
 
  .course-profile {
    padding-top: 20px;
  }
  
  .card-header h3 {
    margin-top: 10px;
  }
  
  