<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8">
</head>
<body>
<app-header></app-header>
<div>
  <h1 *ngIf="isProfessorLoggedIn" class="title">Professors</h1>
  <h1 *ngIf="!isProfessorLoggedIn" class="title">Students</h1>
</div>
<div class="divButBigger">
  <div>
    <table>
      <thead>
      <tr *ngIf="isProfessorLoggedIn">
        <th>Title</th>
        <th class="tdLeft">Name</th>
        <th class="tdLeft">Email</th>
      </tr>
      <tr *ngIf="!isProfessorLoggedIn">
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="loading">
        <p>loading...</p>
      </ng-container>

      <ng-container *ngIf="!loading && isProfessorLoggedIn">
        <tr *ngFor="let professor of courseProfessors">
          <td>{{ professor.title }}</td>
          <td class="tdLeft">{{ getProfessorFullName(professor) }}</td>
          <td class="tdLeft">{{ getEmail(professor) }}</td>
        </tr>
      </ng-container>

      <ng-container *ngIf="!loading && !isProfessorLoggedIn" >
        <tr *ngFor="let student of students">
          <td>{{ student.studentName }}</td>
          <td>{{ student.studentSurname }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ getStudentEmail(student) }}</td>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </div>
</div>

</body>
</html>
