.dialog-actions-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.input-frame {
    width: 100%;
}

button {
    margin-left: auto;
    margin-top: -10px;
}
