@import '../../styles/colors.scss';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li p{
  display: block;
  color: white;
  text-align: right;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.center {
  margin: auto;
  width: 50%;
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}

.header {
  margin: auto;
  width: 100%;
  border: 2px solid blue;
  padding: 10px;
}

.divButBigger{
  margin: auto;
  width: 80%;
  border: 2px solid pink;
  padding: 10px;
  text-align: center;
}

.move2Right{
  text-align: right;
}

.move2Left{
  text-align: left;
}
