@import "../../styles.scss";

.main {
  padding-top: 60px;

  h1 {
    margin: 0px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .flex-column-start-center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .margin-left-15 {
      margin-left: 15px;
    }

    .div1 {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        display: inline-block;
        height: 80px;
        width: 80px;
        margin-left: 15px;
        padding: 0px;
        font-size: 80px;
        color: $primary-color;
      }

      div {
        margin-top: 10px;
      }
    }

    .div2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .div3 {
      grid-area: 2 / 2 / 3 / 3;

      // mat-card-subtitle {
      //     margin-left: 50%;
      // }
    }

    .div4 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .div5 {
      grid-area: 3 / 2 / 5 / 4;
      padding-bottom: 10px;

      .div5-title {
        width: 95%;
        margin: 0px 0px 0px 15px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }

      .div5-container {
        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }

      .flex-wrap {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .div5-course {
        padding-bottom: 16px;
        font-weight: 400;
      }

      .div5-button {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: 2px solid $primary-color;
        border-radius: 25px;
        color: $primary-color;
        background-color: white;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: $primary-color;
          color: white;
          transition: background-color 0.3s, color 0.3s;
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}