@import "../../styles.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;

  h1 {
    margin: 0;
  }

  .parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 800px;

    .flex-row {
      display: flex;
      gap: 5px;

      .flex-column-start-center {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .margin-left-15 {
        margin-left: 15px;
      }

      .div1 {
        width: 50%;
        display: flex;
        flex-direction: row;

        .icon {
          display: inline-block;
          height: 80px;
          width: 80px;
          margin-left: 5px;
          padding: 0px;
          font-size: 80px;
          color: $primary-color;
        }

        .text-container {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          justify-content: center;
        }
      }

      .div2 {
        width: 50%;
      }

      .div3 {
        width: 50%;
      }

      .div4 {
        width: 50%;
      }
    }

    .div5 {
    }

    .div5-title {
      width: 98%;
      padding-top: 10px;
      padding-left: 30px;
      padding-bottom: 5px;
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, $white-color, rgba(0, 0, 0, 0.1), $white-color);
      border-image-slice: 1;
    }

    .courses-group-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .course-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      position: relative; /* Ensure the container is relatively positioned */
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, $white-color, rgba(0, 0, 0, 0.1), $white-color);
      border-image-slice: 1;
    }

    .div5-course {
      padding-bottom: 16px;
      font-weight: 400;
    }

    .div5-button {
      height: 50%;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border: 2px solid $primary-color;
      border-radius: 25px;
      color: $primary-color;
      background-color: white;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: $primary-color;
        color: white;
        transition: background-color 0.3s, color 0.3s;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
