<!-- <p>Notifications</p> -->
<!-- <p *ngFor="let notification of notifications">{{ notification.title }}</p> -->
<!---->
<!-- <mat-paginator [length]="this.notifications.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" -->
<!--   aria-label="Select page"> -->
<!-- </mat-paginator> -->

<p>Notifications</p>
<div *ngFor="let notification of displayedNotifications">
  <p>{{ notification.title }}</p>
  <mat-divider></mat-divider>
</div>

<mat-paginator [length]="notifications.length" [pageSize]="10" aria-label="Select page"></mat-paginator>
