.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.notification-item {
  cursor: pointer;

  p {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.body {
  border: 1px solid #e0e0e0;
}
