<mat-card>
  <mat-card-title>Log into merlin</mat-card-title>

  <mat-card-content>
    <mat-form-field style="width: 100%;">
      <mat-label>Enter your email</mat-label>
      <input #emailInput matInput placeholder="khasnek1@uni.prof.hr" [formControl]="email" (blur)="updateErrorMessage()"
        required>
      <mat-error *ngIf="email.invalid">{{errorMessage}}</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Enter your password</mat-label>
      <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSave()">Login</button>
  </mat-card-content>
</mat-card>
